<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>&nbsp;
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> and <a href="https://github.com/lomanyong/hexo-theme-minos">hexo-theme-minos</a> designed by <a href="http://github.com/ppoffice">PPOffice</a>
      <br />
      Creative <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/">CC-BY-NC-SA 3.0</a>
    </div>
  </div>
</footer>